[submodule "extern/GameNetworkingSockets"]
	path = extern/GameNetworkingSockets
	url = git@github.com:ValveSoftware/GameNetworkingSockets.git
[submodule "extern/flatbuffers"]
	path = extern/flatbuffers
	url = git@github.com:google/flatbuffers.git
