[submodule "extern/GameNetworkingSockets"]
	path = extern/GameNetworkingSockets
	url = git@github.com:ValveSoftware/GameNetworkingSockets.git
[submodule "extern/protobuf"]
	path = extern/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
